n8n-workflows/agente-secretaria-whatsapp.json
{
  "name": "Agente Secretária WhatsApp - Hospital",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.type}}",
              "operation": "equals",
              "value2": "text"
            }
          ]
        }
      },
      "id": "if-1",
      "name": "É Mensagem de Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é a secretária virtual do Hospital. Suas funções:\n\n1. TRIAGEM INICIAL:\n- Pergunte os sintomas do paciente\n- Classifique urgência: EMERGÊNCIA (vermelho), URGENTE (laranja), NORMAL (verde)\n- Se EMERGÊNCIA: oriente ir ao PS imediatamente\n\n2. AGENDAMENTO:\n- Consulte disponibilidade\n- Confirme data/hora com paciente\n- Envie confirmação\n\n3. INFORMAÇÕES:\n- Horários de funcionamento\n- Endereço e como chegar\n- Documentos necessários\n- Convênios aceitos\n\n4. ESCALAÇÃO:\n- Se não souber responder: \"Vou transferir para um atendente humano\"\n- Se emergência médica: \"Ligue 192 (SAMU) ou vá ao PS mais próximo\"\n\nSempre seja empático, profissional e objetivo.\nNUNCA forneça diagnósticos médicos.\nSempre confirme informações importantes."
            },
            {
              "role": "user",
              "content": "={{$json.body.text}}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "anthropic-1",
      "name": "Claude - Secretária IA",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "anthropicApi": {
          "id": "SEU_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const resposta = $input.first().json.message.content;\nconst telefone = $('Webhook WhatsApp').first().json.body.from;\n\n// Detectar urgência\nlet urgencia = 'NORMAL';\nif (resposta.includes('EMERGÊNCIA') || resposta.includes('192') || resposta.includes('SAMU')) {\n  urgencia = 'EMERGENCIA';\n} else if (resposta.includes('URGENTE') || resposta.includes('hoje')) {\n  urgencia = 'URGENTE';\n}\n\n// Detectar intenção\nlet intencao = 'INFORMACAO';\nif (resposta.includes('agend') || resposta.includes('marcar') || resposta.includes('consulta')) {\n  intencao = 'AGENDAMENTO';\n} else if (resposta.includes('transfer') || resposta.includes('humano')) {\n  intencao = 'ESCALACAO';\n}\n\nreturn {\n  telefone,\n  resposta,\n  urgencia,\n  intencao,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "code-1",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.urgencia}}",
              "operation": "equals",
              "value2": "EMERGENCIA"
            }
          ]
        }
      },
      "id": "if-2",
      "name": "É Emergência?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text",
        "method": "POST",
        "body": {
          "phone": "={{$json.telefone}}",
          "message": "={{$json.resposta}}"
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "channel": "#alertas-emergencia",
        "text": "🚨 *ALERTA DE EMERGÊNCIA*\n\nPaciente: {{$json.telefone}}\nHorário: {{$json.timestamp}}\n\nAção: Contato imediato necessário",
        "otherOptions": {}
      },
      "id": "slack-1",
      "name": "Alerta Slack Emergência",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1250, 100],
      "credentials": {
        "slackApi": {
          "id": "SEU_SLACK_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "SEU_SHEET_ID",
        "sheetName": "Atendimentos",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{$json.telefone}}",
            "Resposta": "={{$json.resposta}}",
            "Urgência": "={{$json.urgencia}}",
            "Intenção": "={{$json.intencao}}",
            "Data/Hora": "={{$json.timestamp}}"
          }
        }
      },
      "id": "sheets-1",
      "name": "Registrar Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Processado\"}"
      },
      "id": "respond-1",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "É Mensagem de Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Mensagem de Texto?": {
      "main": [
        [
          {
            "node": "Claude - Secretária IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Secretária IA": {
      "main": [
        [
          {
            "node": "Processar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta": {
      "main": [
        [
          {
            "node": "É Emergência?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Emergência?": {
      "main": [
        [
          {
            "node": "Alerta Slack Emergência",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Registrar Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Google Sheets": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["hospital", "whatsapp", "secretaria", "ia"],
  "triggerCount": 1,
  "updatedAt": "2024-12-18T06:00:00.000Z",
  "versionId": "1.0.0"
}
