n8n-workflows/agente-secretaria-whatsapp-twilio.json
{
  "name": "Agente Secretária WhatsApp - Hospital (Twilio)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.Body}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Tem Mensagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é a secretária virtual da Telefonia Hospitalar Soluções.\n\nINFORMAÇÕES DA EMPRESA:\n- Nome: Telefonia Hospitalar Soluções\n- Telefone/WhatsApp: +55 35 99835-2323\n- CEO: Rudson Oliveira\n\nSUAS FUNÇÕES:\n\n1. TRIAGEM INICIAL:\n- Pergunte os sintomas ou necessidade do paciente\n- Classifique urgência: EMERGÊNCIA (vermelho), URGENTE (laranja), NORMAL (verde)\n- Se EMERGÊNCIA: oriente ligar 192 (SAMU) ou ir ao PS\n\n2. AGENDAMENTO:\n- Consulte disponibilidade\n- Confirme data/hora com paciente\n- Envie confirmação\n\n3. INFORMAÇÕES:\n- Horários de funcionamento\n- Serviços oferecidos\n- Documentos necessários\n\n4. ESCALAÇÃO:\n- Se não souber: \"Vou transferir para um atendente humano\"\n- Se emergência: \"Ligue 192 (SAMU) ou vá ao PS mais próximo\"\n\nREGRAS:\n- Seja empático, profissional e objetivo\n- NUNCA forneça diagnósticos médicos\n- Sempre confirme informações importantes"
            },
            {
              "role": "user",
              "content": "={{$json.Body}}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "anthropic-1",
      "name": "Claude - Secretária IA",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "anthropicApi": {
          "id": "CRIAR_CREDENTIAL",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const resposta = $input.first().json.message.content;\nconst telefone = $('Webhook WhatsApp').first().json.From.replace('whatsapp:', '');\n\nlet urgencia = 'NORMAL';\nif (resposta.includes('EMERGÊNCIA') || resposta.includes('192') || resposta.includes('SAMU')) {\n  urgencia = 'EMERGENCIA';\n} else if (resposta.includes('URGENTE') || resposta.includes('hoje')) {\n  urgencia = 'URGENTE';\n}\n\nlet intencao = 'INFORMACAO';\nif (resposta.includes('agend') || resposta.includes('marcar') || resposta.includes('consulta')) {\n  intencao = 'AGENDAMENTO';\n} else if (resposta.includes('transfer') || resposta.includes('humano')) {\n  intencao = 'ESCALACAO';\n}\n\nreturn {\n  telefone,\n  resposta,\n  urgencia,\n  intencao,\n  timestamp: new Date().toISOString(),\n  twilioTo: $('Webhook WhatsApp').first().json.From\n};"
      },
      "id": "code-1",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/SEU_ACCOUNT_SID_AQUI/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+55XXXXXXXXXXX"
            },
            {
              "name": "To",
              "value": "={{$json.twilioTo}}"
            },
            {
              "name": "Body",
              "value": "={{$json.resposta}}"
            }
          ]
        }
      },
      "id": "http-twilio",
      "name": "Enviar WhatsApp Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "CRIAR_CREDENTIAL_TWILIO",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>"
      },
      "id": "respond-1",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [[{"node": "Tem Mensagem?", "type": "main", "index": 0}]]
    },
    "Tem Mensagem?": {
      "main": [[{"node": "Claude - Secretária IA", "type": "main", "index": 0}], []]
    },
    "Claude - Secretária IA": {
      "main": [[{"node": "Processar Resposta", "type": "main", "index": 0}]]
    },
    "Processar Resposta": {
      "main": [[{"node": "Enviar WhatsApp Twilio", "type": "main", "index": 0}]]
    },
    "Enviar WhatsApp Twilio": {
      "main": [[{"node": "Responder Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["hospital", "whatsapp", "twilio", "secretaria", "ia"],
  "triggerCount": 1,
  "updatedAt": "2024-12-18T07:00:00.000Z",
  "versionId": "2.0.0",
  "_credenciais_twilio": {
    "NOTA": "Configure as credenciais no N8N com seus valores do Twilio Console:",
    "httpBasicAuth": {
      "user": "SEU_ACCOUNT_SID_AQUI",
      "password": "SEU_AUTH_TOKEN_AQUI"
    },
    "twilio_phone": "+55XXXXXXXXXXX",
    "twilio_api_key": "SEU_API_KEY_AQUI",
    "twilio_api_secret": "SEU_API_SECRET_AQUI"
  }
}
